.App {
  backface-visibility: hidden;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  height: 100%;
  width: 100%;
}

h1{
  background-color: white;
  color: deeppink;
  height: 100%;
  width: 100%;
  position: center;
}

h2 {
  color: white;
}

input {
  height: 50px;
  width: 200px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  font-family: 'Sofia';font-size: 22px;
}

button {
  font-family: 'Sofia';font-size: 22px;
  color: deeppink;
  height: 40px;
  width: 110px;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.list {
    background-color: #FF96CA;
    margin: auto;
    width: 50%;
    border: 3px solid red;
    padding: 10px;
    height: 100px;
    width: 400px;
}

div.App {
    height: 100%;
    width: 100%;
}

div {
  height: 100%;
  width: 100%;
}

body {
  background: url("./images/backgroundimage.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

label{
  height: 100px;
  width: 100px;
  background-color: white;
}















